# webstorm
.idea/

# shouldn't need html or css files
*.html
*.css

# shouldn't need any external libs
lib/client/lib

# shouldn't need main or helper files but for testing
main.*
helpers.js

# shouldn't need main meteor folder either
.meteor